<template>
  <div class="home">
    <h1>Mock–<i>sation</i></h1>
    <p class="subtitle">
      Beautiful yet <a href="https://en.wiktionary.org/wiki/faux#English">faux</a> conversations.
    </p>
    <Convo :paused="paused" :value="value"/>
    <div v-if="tryMe" class="controller">
      <button @click="paused = false">▶︎</button>
      <button @click="paused = true">❙❙</button>
      🐇
      <RangeSlider v-model="value"></RangeSlider>
      🐢
    </div>
    <div class="try-me" v-else @click="tryMe = true">
      <h3>Try me :)</h3>
    </div>
  </div>
</template>

<script>
import Convo from '@/components/Convo';
import RangeSlider from '@/components/RangeSlider';

export default {
  name: 'app',
  components: {
    Convo,
    RangeSlider,
  },
  data() {
    return {
      paused: false,
      value: 500,
      tryMe: false,
    };
  },
};
</script>
<style lang="sass" scoped>
.home
  .subtitle
    a
      color: #000
  .controller
    button
      outline: none
      cursor: pointer
      margin: 5px
      font-size: 25px
      border: none
      opacity: .7
      transition: opacity 100ms ease-in
      &:hover
        opacity: 1
  .try-me
    cursor: pointer
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search]
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none
  border-radius: 0
  -moz-border-radius: 0
  -webkit-border-radius: 0
</style>
