<template>
  <transition name="slide-fade">
  <div v-if="show" class="chat-box-wrapper" :class="{ indent: indent }">
    <div class="chat-box">
      <img :src="chatIcon" class="icon" alt="" />
      <div class="container">
        <div class="chatter">
          <input type="text" :value="chatterName" >
          <span class="timestamp">{{ chatTime }}</span>
        </div>
        <p class="content" v-html="chatContent"></p>
      </div>
    </div>
  </div>
  </transition>
</template>

<script>
export default {
  name: 'MessageBox',
  props: ['chatIcon', 'chatterName', 'chatTime', 'chatContent', 'indent'],
  data() {
    return {
      show: false,
    };
  },
  mounted() {
    this.show = true;
  },
  beforeDestroy() {
    this.show = true;
  },
};
</script>
<!--TODO: Add support for safe rich text formatting-->
<style lang="sass" scoped>
.chat-box-wrapper
  max-height: 200px
  transition: margin-bottom 500ms ease 0s, opacity 500ms ease 0s, transform 400ms ease 0s, max-height 600ms ease 0s
  transition-timing-function: ease-in-out
  transform-origin: right bottom
  will-change: transform, opacity, margin-bottom, max-height
  .chat-box
    max-height: 200px
    display: flex
    width: 650px
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 30px
    background-color: rgb(255, 255, 255)
    border-radius: 3px
    margin: 0px auto 25px
    padding: 20px 15px
    text-align: left
    .icon
      width: 40px
      height: 40px
      margin-right: 12px
      position: relative
      user-select: none
      border-radius: 3px
      overflow: hidden
    .container
      flex: 1 1 0%
      .chatter
        margin: 0
        input
          border: none
          outline: none
          padding: 0
          background: transparent
          font-size: 18px
          font-weight: bold
          width: min-content

        .timestamp
          margin-left: 8px
          font-size: 13px
          color: rgb(102, 102, 102)
          text-transform: uppercase
          font-weight: 400

      .content
        font-size: 14px
        transform: translate3d(0px, 2px, 0px)
        line-height: 24px
        padding-right: 5%
        -webkit-font-smoothing: antialiased
        text-rendering: optimizelegibility
        margin: 0
        transform: translateY(10px)
        transition: transform 400ms ease 0s
        code
          font-family: Menlo, serif
          font-size: 13px
          color: rgb(0, 118, 255)
          background-color: rgb(250, 250, 250)
          white-space: nowrap
          border-width: 1px
          border-style: solid
          border-color: rgb(234, 234, 234)
          border-image: initial
          border-radius: 3px
          padding: 2px 4px
.indent
  .chat-box
    margin-left: 5%
  transform-origin: left bottom
.se-me
  transform: translateY(-10px)
.slide-fade-enter, .slide-fade-leave-to
  transform: translate3d(0px, 0px, 0px) scale3d(0,0,0)
  opacity: 0
</style>
