<template>
  <div ref="convo" class="convo-tainer">
    <div class="convo-wrapper">
      <transition-group name="list-complete" tag="div">
        <ChatBox
          v-for="chat in chatz"
          :key="chat.chatContent"
          :chat-icon="chat.chatIcon"
          :chatter-name="chat.chatterName"
          :chat-time="chat.chatTime"
          :chat-content="chat.chatContent"
          :indent="chat.indent"
        >
        </ChatBox>
      </transition-group>
    </div>
    <div class="overlay"></div>
  </div>
</template>

<script>
import ChatBox from './ChatBox';


const MIN_INTERVAL = 250;
const MAX_INTERVAL = 2000;

export default {
  name: 'Convo.vue',
  props: ['paused', 'value'],
  components: {
    ChatBox,
  },
  data() {
    return {
      index: 0,
      chatz: [],
      chats: [
        {
          chatIcon:
            'https://steemitimages.com/DQmZfkqKJ9g2MsL9MxWza99NfnWycnXJgV1enB692KddQtN/Satoshi.png',
          chatterName: '#Buidler Bill',
          chatTime: '4:54PM',
          chatContent: 'Hey, I need the current Binance Coin price.',
          indent: false,
        },
        {
          chatIcon: 'https://amberdata.io/favicon.ico?v=1',
          chatterName: 'Amberdata.io',
          chatTime: '4:56PM',
          chatContent:
            "<code style='font-size: 13px;"
            + '    color: #636363;'
            + '    background-color: rgb(250, 250, 250);'
            + '    white-space: nowrap;'
            + '    border-width: 1px;'
            + '    border-style: solid;'
            + '    border-color: rgb(234, 234, 234);'
            + '    border-image: initial;'
            + '    border-radius: 3px;'
            + "    padding: 2px 4px;'>/market/tokens/prices/:hash/latest</code><table>"
            + '  <tr>'
            + '    <td>Price&nbsp;</td>'
            + '    <td> -$1.13</td>'
            + '  </tr>'
            + '</table>',
          indent: true,
        },
        {
          chatIcon:
            'https://steemitimages.com/DQmZfkqKJ9g2MsL9MxWza99NfnWycnXJgV1enB692KddQtN/Satoshi.png',
          chatterName: '#Buidler Bill',
          chatTime: '4:57PM',
          chatContent: 'What about daily percent change, and market cap?',
          indent: false,
        },
        {
          chatIcon: 'https://amberdata.io/favicon.ico?v=1',
          chatterName: 'Amberdata.io',
          chatTime: '4:57PM',
          chatContent:
            "<code style='font-size: 13px;"
            + '    color: #636363;'
            + '    background-color: rgb(250, 250, 250);'
            + '    white-space: nowrap;'
            + '    border-width: 1px;'
            + '    border-style: solid;'
            + '    border-color: rgb(234, 234, 234);'
            + '    border-image: initial;'
            + '    border-radius: 3px;'
            + "    padding: 2px 4px;'>/market/tokens/prices/:hash/latest</code><table>"
            + '  <tr>'
            + '    <td>Daily % change&nbsp;</td>'
            + '    <td> -$1.13</td>'
            + '  </tr>'
            + '  <tr>'
            + '    <td>Market Cap&nbsp;</td>'
            + '    <td> $2,929,613,425.41</td>'
            + '  </tr>'
            + '</table>',
          indent: true,
        },
        {
          chatIcon:
            'https://steemitimages.com/DQmZfkqKJ9g2MsL9MxWza99NfnWycnXJgV1enB692KddQtN/Satoshi.png',
          chatterName: '#Buidler Bill',
          chatTime: '4:18PM',
          chatContent:
            'Total supply, circulating supply, and the contract address??',
          indent: false,
        },
        {
          chatIcon: 'https://amberdata.io/favicon.ico?v=1',
          chatterName: 'Amberdata.io',
          chatTime: '4:19PM',
          chatContent: '/market/tokens/prices/:hash/latest',
          indent: true,
        },
      ],
    };
  },
  mounted() {
    setTimeout(this.rotator, this.speed);
    console.log(this.speed);
  },
  methods: {
    rotator() {
      this.rotateChats();
      setTimeout(this.rotator, this.speed);
    },
    async rotateChats() {
      console.log(this.speed);
      if (this.paused) return;
      if (this.chats.length > 0) {
        this.chatz.unshift(this.chats.shift());
      } else {
        const chat = this.chatz.pop();
        await this.$nextTick();
        // this.chatz.push(chat)
        this.chatz.unshift(chat);
      }
    },
    add() {
      this.chatz.push(this.chats.pop());
    },
    remove() {
      this.chats.push(this.chatz.shift());
    },
  },
  computed: {
    speed() {
      return (this.value * (MAX_INTERVAL - MIN_INTERVAL)) / 1000 + MIN_INTERVAL;
    },
  },
};
</script>

<style lang="sass" scoped>
.convo-tainer
    height: 400px
    position: relative
    overflow: hidden
    padding: 20px
    margin: 100px auto
    .convo-wrapper
      max-width: 650px
      margin: auto
    .overlay
      position: absolute
      bottom: 0
      width: 100%
      height: 20vh
      z-index: 2
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%)
    .controller
      position: absolute
      z-index: 2
.list-complete-enter, .list-complete-leave-to
  transform: translate3d(0px, 0px, 0px) scale3d(0,0,0)
  opacity: 0
</style>
